# GEMINI_API_KEY: Required for Gemini AI API calls.
# This is a placeholder key.
# AI Studio automatically injects this at runtime from user secrets.
# Users configure this via the Secrets panel in the AI Studio UI.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# NEX_DEVICE_TOKEN: The Device token used to authenticate calls to the Altiora Nex API
NEX_DEVICE_TOKEN=nxt_ffef03614a104bacde146715fcc2d518847adfc39f8a32d79aff28b8f2f368e4

# NEX_API_BASE_URL: Base URL of Altiora Nex API
NEX_API_BASE_URL=https://nex.altiora.kz/api/
